.chartContainer {
    overflow-x: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
  
.bar-chart {
    max-width: 90%;
}
.population-header{
    text-align: center;
    color:white;
    font-weight: 600;
    background-color: rgb(20, 72, 131);
    padding: 1.5rem;
}
.population-text{
    font-weight: 600;
    text-align: center;
    /* padding: 1.5rem 0; */
    color: blue;
    font-size: 1rem;
}